services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      db_host: db
      db_port: 5432
      db_user: user
      db_password: password
      db_name: fastexample

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fastexample
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
